@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    width: 1200px;
    background-color: #ffffff;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button {
    font-family: "PT Sans";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    height: max-content;
    cursor: pointer;
  }

  .button-navigation {
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    padding: 8px 34px;
  }

  .button-search {
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    padding: 8px 50px;
    margin-bottom: 96px;
  }

  .button-sub {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
    width: 232px;
    border: 0;
  }

  .button-link:hover, .button-link:focus {
    background-color: #615048;
  }

  .button-link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .button-link:disabled {
    background-color: #E5E5E5;
    cursor: default;
  }

  .blue-button:hover, .blue-button:focus {
    background-color: #68A2CA;
  }

  .blue-button:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .blue-button:disabled {
    background-color: #E5E5E5;
    cursor: default;
  }

  .padding-container {
    max-width: 1060px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation-list {
    display: flex;
    width: 507px;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 168px;
  }
  .main-page-header-link {
    text-decoration:none;
    max-height: 70px;
    position: absolute;
    z-index: 1;
  }
  .navigation-user {
    max-width: 268px;
    align-items: center;
    margin: 0;
  }
  .navigation-link {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    background-color: #ffffff;
    text-decoration: none;
    padding: 20px 16px;
    user-select: none;
  }

  .navigation-link:hover, .navigation-link:focus {
    background-color: #F2F2F2;
    color: #68A2CA;
    transition: color 1s;
    box-shadow: inset 0 0 0 4px #e7e7e7;
    outline: none;
  }
  .navigation-link:active {
    background-color: #82B3D3;
    color:#000000;
  }

  .navigation-user .navigation-item:nth-child(2) {
    margin-right: 20px;
  }

  .navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
  }

  .navigation-icon {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .link-search {
    padding: 22px 12px;
  }

  .link-favorite {
    padding: 22px 12px;
  }

  .notification-badge {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    z-index: 1;
    background-color: #7DB54F;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #FFFFFF;
    left: 20px;
    top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-link-current {
    position: relative;
    cursor:default;
  }

  .navigation-link-current::after {
    position: absolute;
    content: "";
    background-color: #756257;
    right: 16px;
    left: 16px;
    bottom: -1px;
    height: 2px;
    z-index: 2;
  }

  .main-container {
    flex-grow: 1;
  }

  .hero {
  background-image: url("../images/index-background.jpg");
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
  position: relative;
  }

  .hero-logo{
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
  padding-top: 51px
  }

  .devider {
  position: absolute;
  content: "";
  top: 485;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index:1;
  }

  .advantages-desc {
    display: block;
    padding: 69px 0 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color:#000000;
    text-align: center;
    margin: 0 auto;
    width: 620px;
  }

  .advantages-desc-text {
    padding: 0 0 90px;
    font-size: 22px;
    line-height: 26px;
    display: block;
    margin: 0 auto;
    width: 651px;
    }

  .advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .advantages-logo {
    object-fit: cover;
  }

  .image-right{
    background-color: #82B3D3;
    width: 1200px;
    display: flex;
    }

  .advantages-index-columns{
    display: flex;
    flex-direction:column;
    width: 400px;
  }

  .image-left {
    background-color: #82B3D3;
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    width: 230px;
    margin: 0 auto;
    padding: 102px 0 62px;
  }

  .white-heading {
    color: #ffffff;
    max-width: 175px;
    position: relative;
  }

  .white-heading::after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    width: 60px;
    bottom: 30px;
    height: 2px;
    right: 55px;
  }

  .black-heading{
    color: #000000;
    max-width: 175px;
    position: relative;
  }

  .black-heading::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 60px;
    bottom: 30px;
    height: 2px;
    right: 55px;
  }

  .advantages-title-white-text {
    color: #ffffff;
    margin: 0 auto;
    width: 230px;
    padding-bottom: 102px;
    text-align: center;
  }

  .advantages-title-black-text {
    margin: 0 auto;
    width: 230px;
    padding-bottom: 112px;
    text-align: center;
  }

  .blue-fill {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
  }

  .dark-fill {
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
  }

  .benefits-desc {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
    margin: 0 auto;
    display: block;
    padding: 64px 0 20px;
    width: 505px;
  }

  .benefits-desc-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 64px;
    width: 490px;
  }

  .benefits-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .benefits-heading {
    padding-top: 183px;
    padding-bottom: 30px;
    position: relative;
  }

  .advantages-title-benefits-text {
    margin: 0 auto;
    width: 230px;
    padding-bottom: 81px;
    text-align: center;
  }

  .benefits-item{
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
  }

  .home {
    background-image: url("../images/benefits-home.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 81px;
  }

  .souvenirs {
    background-image: url("../images/benefits-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: top, center;
    background-position-x: center;
    background-position-y: 79px;
  }

  .no-fill {
    background-color: #ffffff;
    background-image: url("../images/benefits-meal.svg");
    background-repeat: no-repeat;
    background-position: top, center;
    background-position-x: center;
    background-position-y: 82px;
  }

  .search {
    display: flex;
    flex-direction: column;
    width: 592px;
    align-items: center;
    margin: 0 auto;
  }

  .search-desc {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    width: 297px;
    margin: 0 auto;
    padding: 96px 0 20px;
  }

  .search-desc-text {
    font-size: 22px;
    line-height: 26px;
    width: 592px;
    margin: 0 auto;
    padding-bottom: 54px;
    text-align: center;
  }

  .appointment {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .appointment-container {
    width: 684px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .appointment-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 404px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .appointment-text {
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin: 0 auto;
    padding-bottom: 54px;
  }

  .appointment-email{
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    background-color: #f2f2f2;
    border-radius: 4px 0 0 4px;
    width: 452px;
    height: 52px;
    border: 0;
    padding: 0;
    padding-left: 20px;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .footer-social {
    min-width: 142px;
  }

  .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-content:center;
  }

  .footer-social-item {
    position: relative;
    min-width: 47px;
    padding: 5px 0 5px;
  }

  .link-footer {
    min-height: 40px;
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
  }

  .social-icon {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .link-footer:hover path, .link-footer:focus path {
    fill: #68A2CA
  }

  .link-footer:active path {
    opacity: 0.3;
  }

  .footer-contacts{
    min-width: 720px;
    text-align: center;
  }

  .footer-contacts-address-phone {
    display: inline-block;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    min-width: 331px;
    padding: 5px 0 5px;
  }

  .footer-contacts-address-phone:hover,
  .footer-contacts-address-phone:focus{
    color: #756157;
  }

  .footer-contacts-address-phone:active {
    color: rgba(117, 97, 87, 0.3);
  }

  .htmlacademy-link {
    min-width: 115px;
    max-height: 50px;
    text-decoration: none;
  }

  .htmlacademy-link:hover path, .htmlacademy-link:focus path {
    fill: #756157
  }

  .htmlacademy-link:active path {
    fill: rgba(117, 97, 87, 0.3);
  }

  .footer-logo {
    min-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .main-inner {
    padding: 0;
  }

  .inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color:#FFFFFF;
    margin: 35px 0 8px;
  }

  .inner-header {
    background-image: url("../images/background-filter.jpg");
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }

  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-bottom: 40px;
  }

  .breadcrumbs-item {
    min-width: 13px;
    min-height: 21px;
    position: relative;
    font-size: 16px;
    margin-right: 7px;
  }

  .breadcrumbs-link-home {
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 5px;
    left: 0;
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 15px;
    color: #FFFFFF;
    text-decoration: none;
  }

  .breadcrumbs-link {
    display: block;
    position: relative;
    padding-left: 21px;
    color: #FFFFFF;
    text-decoration: none;
    user-select: none;
  }

  .breadcrumbs-link-home:hover, .breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .breadcrumbs-link-home:active, .breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .breadcrumbs-link::before {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 6px;
    height: 9px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  .catalog-filter-get {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }

  .catalog-filter-group {
    width: 151px;
    margin: 0;
    padding: 0;
    border: none;
  }

  .catalog-filter-price {
    width: 288px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .catalog-filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
  }

  .catalog-filter-item:not(:last-child){
    margin-bottom: 16px;
  }

  .filter-button {
    width: 191px;
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 56px;
  }

  .catalog-filter-container-left {
    width: 371px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog-filter-container-right {
    width: 549px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    line-height: 21px;
  }

  .catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 32px;
  }

  .control {
    font-size: 18px;
    line-height: 23px;
  }

  .catalog-filter-label {
  background-color: #F2F2F2;
  color:#000000;
  }

  .range-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .button-submit {
    display: block;
    font-size: 16px;
    line-height: 20px;
    background-color: #82B3D3;
    padding: 8px 50px;
    margin-bottom: 32px;
    border: none;
  }

  .button-reset {
    display: block;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    border-radius: 0;
    padding: 8px 57px;
    margin: 0 auto;
    background-color: transparent;
  }

  .button-reset:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .button-reset:focus {
    box-sizing: border-box;
    border: 3px solid #83B3D3;
  }

  .button-reset:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .button-reset:disabled {
    color: rgba(255, 255, 255, 0.1);
  }

  .catalog-result {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .catalog-result-subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    width: 338px;
    margin-right: 200px;
  }

  .select {
    position: relative;
    display: flex;
    align-items: center;
    width: 292px;
    margin-right: auto;
  }

  .select-contol {
    width: 100%;
    padding: 12px 18px 12px;
    padding-right: 48px;
    font: inherit;
    color: inherit;
    background-color: #ffffff;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    appearance: none;
  }

  .select-contol:hover, .select-contol:focus {
    border: 2px solid #68A2CA;
  }

  .select-contol:active {
    border: 2px solid #3F5E72;
  }

  .select-contol:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
  }

  .sorting-card-list {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .sorting-card-item {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-viev {
    width: 48px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #E5E5E5;
    background-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-viev:hover {
    border-color: #000000;
  }

  .button-viev:focus {
    border-color: #68A2CA;
    outline: 0;
  }

  .button-viev:active{
    border-color: #000000;
  }

  .card-type {
    border-color: #000000;
    background-image: url("../images/card-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
  }

  .screen-type {
    background-image: url("../images/screen-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
  }

  .list-type {
    background-image: url("../images/list-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
  }

  .catalog-products {
    background-color: #ffffff;
  }

  .catalog-product-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    list-style-type: none;
    margin: 0;
  }

  .catalog-product-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 1fr repeat(3, auto);
    border: 1px solid #E6E6E6;
    padding: 20px;
    gap: 16px 20px;
    border-radius: 4px;
  }

  .catalog-product-card-link {
    grid-column: 1/-1;
    text-decoration: none;
  }

  .catalog-product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#000000;
    margin: 0;
    margin-top: 16px;
    max-width: 300px;
  }

  .catalog-product-card-image:hover {
    opacity: 0.8;
    outline: 2px solid #82B3D3;
  }

  .catalog-product-card-image:active {
    opacity: 0.3;
  }

  .catalog-product-card-title:hover {
    opacity: 0.8;
    outline: 2px solid #82B3D3;
    color: #756157;
  }

  .catalog-product-card-title:active {
    opacity: 0.4;
    color: rgba(117, 97, 87, 0.3);
  }

  .product-card-price {
    justify-self: end;
  }

  .raiting-star {
    display: inline-block;
    width: 18px;
    min-height: 17px;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: left center;
    margin: 10px 1px 0 0;
    box-sizing: border-box;
    border: none;
  }

  .product-card-rate-text {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    min-width: 140px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 9px 22px 8px 23px;
    grid-column: 2/3;
    height: max-content;
  }

  .button-about {
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    padding: 8px 26px;
  }

  .button-favorites {
    font-size: 16px;
    line-height: 20px;
    background-color: #82B3D3;
    padding: 8px 20px;
  }

  .button-favorites-done {
    font-size: 16px;
    line-height: 20px;
    background-color: #7DB54F;
    padding: 8px 18px;
  }

  .button-favorites-done:hover, .button-favorites-done:focus {
    background-color: #6C9E42;
  }

  .button-favorites-done:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .button-favorites-done:disabled {
    background-color: #E5E5E5;
    cursor: default;
  }

  .pagination {
    position: relative;
  }

  .pagination::before {
    width: 1060px;
    position: absolute;
    content: "";
    top: -40px;
    left: 70px;
    outline: 1px solid #E6E6E6;
  }

  .pagination-list {
    display: flex;
    list-style-type: none;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #82b3d3;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 12px 18px;
  }

  .pagination-item:not(:last-child){
    margin-right: 8px;
  }

  .pagination-link-current {
    color: #000000;
    background-color: #F2F2F2;
  }

  .pagination-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 10px;
    box-sizing: border-box;
  }

  .pagination-link:hover, .pagination-link:focus {
    background-color: #68A2CA;
    border: 1px solid #82B3D3;
  }

  .pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .pagination-link-current:hover, .pagination-link-current:focus, .pagination-link-current:active {
    color: #000000;
    background-color: #F2F2F2;
  }

  .appointment-inner {
    text-align: center;
    padding-bottom: 104px;
  }

  .appointment-inner-title {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 404px;
    margin: 0;
    margin-top: 96px;
    margin-bottom: 20px;
  }

  .appointment-inner-text {
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin: 0;
    margin-bottom: 54px;
  }

  .appointment-form {
    width: 684px;
    display: flex;
    flex-direction: row;
  }
