@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  width: 1280px;
  margin: 0 auto;
  height: 100%;
}
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    width: 1200px;
    background-color: #ffffff;
  }
  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  .button {
  font-family: "PT Sans";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color: #FFFFFF;
  }
  .button-navigation {
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 34px;
    padding-right: 34px;
  }
  .button-search {
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .button-sub {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0px 4px 4px 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
    width: 232px;
    border: 0;
  }
  .padding-container {
    max-width: 1060px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .navigation {
    display: flex;
  }
  .navigation-list {
    display: flex;
    width: 507px;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
  }
  .navigation-user {
    max-width: 268px;
    margin-left: auto;
    align-items: center;
  }
  .navigation-link {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    background-color: #ffffff;
    text-decoration: none;
    padding: 20px 16px;
  }
 .navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}
  .main-container {
    flex-grow: 1;
    padding-top: 51px;
  }
  .main-index {
  background-image: url("../images/index-background.jpg");
  background-color: #FFFFFF;
  background-size: 100% auto;
  color:black;
  background-repeat: no-repeat;
  }
  .hero-logo{
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
  }
  .advantages-desc {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color:#000000;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 151px;
    margin-bottom: 25px;
    width: 620px;
  }
  .advantages-desc-text {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    display: block;
    margin: 0 auto;
    margin-bottom: 90px;
    width: 651px;
    }
  .advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .advantages-logo {
    display: block;
  }
  .image-right{
    background-color: #82B3D3;
    width: 1200px;
    display: flex;
    }
  .advantages-index-columns{
    display: flex;
    flex-direction:column;
    width: 400px;
  }
  .image-left {
    background-color: #82B3D3;
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    width: 230px;
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 62px;
  }
  .white-heading {
    color: #ffffff;
  }
  .black-heading{
    color: #000000;
  }
  .advantages-title-white-text {
    color: #ffffff;
    margin: 0;
    margin: 0 auto;
    width: 230px;
    margin-bottom: 102px;
    text-align: center;
  }
  .advantages-title-black-text {
    margin: 0;
    margin: 0 auto;
    width: 230px;
    margin-bottom: 112px;
    text-align: center;
  }
  .blue-fill {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
  }
  .dark-fill {
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
  }
  .benefits-desc {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
    margin-bottom: 20px;
    width: 505px;
  }
  .benefits-desc-text {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
    width: 490px;
  }
  .benefits-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .benefits-heading {
    margin-top: 183px;
    margin-bottom: 30px;
  }
  .advantages-title-benefits-text {
    margin: 0;
    margin: 0 auto;
    width: 230px;
    margin-bottom: 81px;
    text-align: center;
  }
  .benefits-item{
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
  }
  .home {
    background-image: url("../images/benefits-home.svg");
    background-repeat: no-repeat;
    background-position: top, center;
  }
  .souvenirs {
    background-image: url("../images/benefits-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: top, center;
  }
  .no-fill {
    background-color: #ffffff;
    background-image: url("../images/benefits-meal.svg");
    background-repeat: no-repeat;
    background-position: top, center;
  }
  .search {
    display: flex;
    flex-direction: column;
    width: 592px;
    align-items: center;
    margin: 0 304px;
    margin-bottom: 96px;
  }
  .search-desc {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    width: 297px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 20px;
  }
  .search-desc-text {
    font-size: 22px;
    line-height: 26px;
    width: 592px;
    margin: 0;
    margin-bottom: 54px;
    text-align: center;
  }
  .appointment {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 104px;
  }

  .appointment-container {
    width: 684px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 258px;
  }

  .appointment-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 404px;
    margin: 0;
    margin-top: 96px;
    margin-bottom: 20px;
  }
  .appointment-text {
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin: 0;
    margin-bottom: 54px;
  }
  .appointment-email{
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    background-color: #f2f2f2;
    border-radius: 4px 0px 0px 4px;
    width: 452px;
    height: 52px;
    border: 0;
    padding: 0
  }
  .page-footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .footer-social-list {
    display: flex;
    width: 142px;
    padding: 0;
    list-style-type: none;
  }
  .link-footer {
    display: block;
    min-width: 22px;
    min-height: 17px;
  }
  .footer-contacts{
    width: 720px;
    text-align: center;
  }
  .footer-contacts-address-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    width: 331px;
  }
  .footer-link{
    width: 115px;
  }
  .main-inner {
    padding: 0;
  }
  .inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color:#FFFFFF;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 8px;
  }
  .inner-header {
    background-image: url("../images/background-filter.jpg");
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  .breadcrumbs {
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-bottom: 40px;
  }
  .catalog-filter {
    margin-bottom: 70px;
  }
  .catalog-filter-get {
    display: flex;
    justify-content: space-between;
  }
  .catalog-filter-group {
    width: 151px;
    margin: 0;
    padding: 0;
    border: none;
  }
  .catalog-filter-price {
    width: 288px;
    margin: 0;
    padding: 0;
    border: 0px;
  }
  .catalog-filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
  }
  .catalog-filter-item:not(:last-child){
    margin-bottom: 16px;
  }
  .filter-button {
    width: 191px;
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 56px;
  }
  .catalog-filter-container-left {
    width: 371px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .catalog-filter-container-right {
    width: 549px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    line-height: 21px;
  }
  .catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 32px;
  }
  .control {
    font-size: 18px;
    line-height: 23px;
  }
  .catalog-filter-label {
  background-color: #F2F2F2;
  color:#000000;
  }
  .range-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .button-submit {
    display: block;
    font-size: 16px;
    line-height: 20px;
    background-color: #82B3D3;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 32px;
    border: none;
  }
  .button-reset {
    display: block;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    border-radius: 0;
    padding: 8px 57px;
    margin: 0 auto;
    background-color: none;
  }
  .catalog-result {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .catalog-result-subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    width: 338px;
    margin-right: 200px;
  }
  .select {
    width: 292px;
    margin-right: 70px;
  }
  .select-contol {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 292px;
  }
  .button-card {
    width: 160px;
    text-align: center;
  }
  .button-viev {
    color: #333333;
    background-color: transparent;
    padding: 17px 16px;
    width: 48;
    min-height: 48;
  }
  .catalog-products {
    background-color: #ffffff;
  }
  .catalog-product-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1060px;
    margin: 0 70px;
    justify-content: space-between;
    list-style-type: none;
  }
  .catalog-product-card {
    width: 340px;
    text-align: center;
  }
  .catalog-product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#000000
  }
  .product-card-price {
    text-align: right;
  }
  .button-about {
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 26px;
    padding-right: 26px;
  }
  .button-favorites {
    font-size: 16px;
    line-height: 20px;
    background-color: #82B3D3;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .button-favorites-done {
    font-size: 16px;
    line-height: 20px;
    background-color: #7DB54F;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .product-card-rate-text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .pagination-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #82b3d3;
    border-radius: 4px;
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 11px 24px;
  }
  .pagination-item:not(:last-child){
    margin-right: 8px;
  }
  .pagination-link-current {
    color: #000000;
    background-color: #F2F2F2;
  }
  .pagination-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
  .appointment-inner {
    text-align: center;
    padding-bottom: 104px;
  }
  .appointment-inner-title {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 404px;
    margin: 0;
    margin-top: 96px;
    margin-bottom: 20px;
  }
  .appointment-inner-text {
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin: 0;
    margin-bottom: 54px;
  }
  .appointment-form {
    width: 684px;
    display: flex;
    flex-direction: row;
  }
